<% provide :title, t(".home") %>
<h1><%= t ".sample_app" %></h1>
<p>
  <%= t ".home_pages" %>
  <%= link_to t("tuto"), "http://www.railstutorial.org/" %>
  <%= t ".sample_application" %>
</p>
<Button><%= link_to "English", locale:"en" %></Button>
<Button><%= link_to "Vietnamese", locale:"vi" %></Button>