<% provide :title, t(".hometitle") %>
<div class="center jumbotron">
  <h1><%= t ".sample_app" %></h1>
    <p>
      <%= t ".home_pages" %>
      <%= link_to t(".tuto"), "http://www.railstutorial.org/" %>
      <%= t ".sample_application" %>
    </p>
  <%= link_to t(".sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
