<div class="container">
  <% provide :title, t(".hometitle") %>
  <h1 class="text-center"><%= t ".sample_app" %></h1>
    <p>
  <%= t ".home_pages" %>
  <button><%= link_to t("tuto"), "http://www.railstutorial.org/" %></button>
  <%= t ".sample_application" %>
  </p>
  <button><%= link_to "english", locale: "en" %></button>
  <button><%= link_to "vietnamese", locale: "vi" %></button>
</div>
